<html>
  <body>
    <div class="container">
      <%= flash_messages %> <!-- voir applicaiton helper-->
      <%= yield %>
    </div>
    
    <div class="container">
      <h1> Connecte toi </h1>
      <%= form_tag url_for(action: 'create'), method: "post" do %>
        <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
        <br /> 
          <%= text_field_tag 'email' %>
          <%= label_tag 'Ton Email' %>
        <br /> 
          <%= password_field_tag 'password'%>
          <%= label_tag 'Ton Mot de passe' %>
        <br /> 
        <br /> <br />
        <%= submit_tag "Valider", class: 'btn btn-primary btn-lg btn-submit'  %>
        <br /> <br />
        <div class="btn btn-outline-primary btn-lg btn-submit"> 
            <%= link_to "Ou S'enregistrer", new_author_path %>
        </div>
      <% end %>
    </div>
  </body>
</html>
