
<html>
  <body>
	<h1 class ="ml-3 mt-3">Gossip n°<%= params[:id].to_i %></h1>
	<div class="container">
		<h3>Ces informations</h3>
		<p class ="h5">
			L'auteur: <%= User.find(@gossip.user_id).first_name %> <%= User.find(@gossip.user_id).last_name %> <%= link_to "Plus d'infos sur l'auteur", author_path(@gossip.user_id) %><br/> 
			La ville de l'auteur : <%= City.find(User.find(@gossip.user_id).city_id).name %>
			<%= link_to "Plus d'infos sur la ville", city_path(User.find(@gossip.user_id).city_id) %><br/>  
			Le titre: <%= @gossip.title %> <br/> 
			Le contenu: <%= @gossip.content %> <br/> 
			Créé le: <%= (@gossip.created_at).to_date %> <br/> 
			Updaté le: <%= (@gossip.updated_at).to_date %> <br/> <!-- si on a recrée la base ca sera le m jour -->
		</p>
	</div>
	
	<div class="container">
		<h3>Ces commentaires</h3>
		<% for comment in @gossip.comments %>
      			<h5><%= User.find(comment.user_id).first_name %> <%= User.find(comment.user_id).last_name %></h5>
      			<h5><%= comment.content %></h5>
      			<% if comment.user_id == current_user.id %>
	      			<div class="btn btn-primary"> 
			    		<%= link_to "Modifier", edit_gossip_comment_path(@gossip.id, comment.id), :class => " text-white" %>
			    	</div>
			    	<div class="btn btn-danger"> 
			    		<%= link_to "Supprimer", gossip_comment_path(@gossip.id, comment.id),method: :delete, data: {confirm: "Etes vous sûr?"}, :class => "text-white"%> <!-- pas de bon lien -->
			    	</div>
		    	<br />
		    	<% end %>
		<% end %>
		<h5> <%= @gossip.comments.size %> commentaires </h5>
	</div>

	<div class="container">
		<h3>Nouveau commentaire?</h3>
			<%= form_tag gossip_comments_path(@gossip.id), method: :post do %>
	        	<input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
	        	<input type="hidden" name="gossip_id" value= <%= @gossip.id %> > 
	          	<%= text_field_tag 'comment_content' %> <br />
	        	<br /> 
	        	<%= submit_tag "Envoyer", class: 'btn btn-primary btn-lg btn-submit'  %>
			<% end %>
	</div>
  </body>
</html>
	