<h1 class ="ml-3 mt-3">Voici le gossip n=<%= params[:id].to_i %></h1>
<p class ="ml-3 h5">
	L'auteur: <%= User.find(@gossip.user_id).first_name %> 
	<%= link_to "Plus d'infos sur l'auteur", author_path(@gossip.user_id) %><br/> 
	Le titre: <%= @gossip.title %> <br/> 
	Le contenu: <%= @gossip.content %> <br/> 
	Créé le: <%= (@gossip.created_at).to_date %> <br/> 
</p>
	